    $red: #ff3333;
    $green: #334a28;
    $green1: #3c811c;
    $navy: #28334AFF;
    $white: #dadada;
    $blue: #3694fc;

    :root {
        --red: #{$red};
        --green: #{$green};
        --green1: #{$green1};
        --navy: #{$navy};
        --white: #{$white};
        --blue: #{$blue};
    }